DATABASE_URL=sqlite://data.db?mode=rwc
SERVER_ADDR=127.0.0.1:3000
RUST_LOG=info,website_editor=debug,tower_http=debug,sqlx=warn
LOG_DIR=logs
JWT_ACCESS_PRIVATE_KEY=keys/access-private.pem
JWT_ACCESS_PUBLIC_KEY=keys/access-public.pem
JWT_REFRESH_PRIVATE_KEY=keys/refresh-private.pem
JWT_REFRESH_PUBLIC_KEY=keys/refresh-public.pem
JWT_ACCESS_EXPIRATION_MINUTES=15
JWT_REFRESH_EXPIRATION_DAYS=30
